spring:
  application:
    name: apigateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowed-origin-patterns:
              - "http://localhost"
              - "http://localhost:80"
              - "http://127.0.0.1"
              - "http://127.0.0.1:80"
            allowed-methods:
                - GET
                - POST
                - PUT
                - DELETE
                - OPTIONS
            allowed-headers: "*"
            allow-credentials: true
      httpclient:
        connect-timeout: 1000
        response-timeout: 10s
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: 6379
      timeout: 2000ms

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

server:
  port: 8080

# Прямые URL сервисов
user:
  service:
    url: ${USER_SERVICE_URL:http://userservice:8081}
notification:
  service:
    url: ${NOTIFICATION_SERVICE_URL:http://notificationservice:8084}
aggregation:
  service:
    url: ${AGGREGATION_SERVICE_URL:http://aggregationservice:8082}

jwt:
  secret: ${JWT_SECRET:mySuperSecretKeyThatIsAtLeast32CharactersLong123!}

logging:
  level:
    org.springframework.cloud.gateway: INFO
    com.example.apigateway: DEBUG